.editable-list {
  color: #2b2b2b;
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 350px;
  padding-top: 5rem;
}

li,
div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  background-color: #fff;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 1.8rem;
}